@tailwind base;
@tailwind components;
@tailwind utilities;
*,
html {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

@import "antd/dist/reset.css";
:root {
  --primary-color: transparent;
  --text-color: #ff7506;
  --text-color-hover: #ff7506;
  --primary-color-darken: var(--primary-color);
  --border-hover-color: transparent;
  --border-color: transparent;
  --primary-hover-color: var(--primary-color);
  --text-size-primary: 16px;
  --text-color-primar: white;
  --bg-modal: #3e3e5b;
  --primary: #ff7506;
}

@primary-color: transparent;
@primary-hover-color: transparent;

.ant-btn.ant-btn-primary,
.ant-btn-primary {
  letter-spacing: 0.5%;
  box-shadow: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-color: var(--border-color);
}
..ant-btn-primary:hover,
.ant-btn.ant-btn-primary:hover {
  background-color: var(--primary-hover-color) !important;
  border-color: var(--border-hover-color) !important;
  color: var(--text-color-hover) !important;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ) {
  background-color: var(--primary-hover-color) !important;
  border-color: var(--border-hover-color) !important;
  color: var(--text-color-hover) !important;
}

.main-app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1e1e2e;
}

.ant-input,
.ant-input-password,
.ant-checkbox-input {
  /* Add additional styling to the ant-input class */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2b2b3f;
  /* border-color: transparent; */
  color: white;
}
.ant-notification-notice.ant-notification-notice-success.ant-notification-notice-closable {
  @apply overflow-hidden rounded-md border-none bg-menu text-white shadow-none;
}
.ant-notification-notice-wrapper {
  @apply border-none bg-transparent shadow-none;
}
.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* custom class tailwind css  */
.box-start {
  @apply flex items-center justify-start;
}
.box-center {
  @apply flex items-center justify-center;
}
.box-end {
  @apply flex items-center justify-end;
}
.center-item {
  @apply flex items-center justify-center;
}

.border-type-primary {
  @apply border-[1px] border-solid border-primary;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-input-affix-wrapper {
  background-color: #2b2b3f;
  color: #fff;
  border: none;
  padding: 0 1rem 0 1rem;
}

.ant-input::placeholder {
  color: #65657a !important;
}

/*  tabke cust */
.ant-table {
  background-color: transparent !important;
  border: none !important;
}

.ant-table-thead > tr > th {
  background-color: #2a2a3b;
  color: white;
  border: none !important;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-gzal6t).ant-table-wrapper
  .ant-table-thead
  > tr
  > td,
.ant-table-cell {
  background-color: #2a2a3b !important;
  color: #f2a466;
  border: none !important;
}
.ant-table-tbody > tr > td {
  background-color: #2a2a3b !important;
  color: white;
  border: none !important;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #404052 !important;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-placeholder {
  background-color: #2a2a3b;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container {
  border: none !important;
  min-height: 800px;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-empty-normal
  .ant-empty-description {
  color: white;
}

/*  end table  */

:where(.css-dev-only-do-not-override-gzal6t).ant-spin-nested-loading
  .ant-spin-container {
  background-color: #2a2a3b;
  border-radius: 8px;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-footer {
  border: none;
  background-color: transparent;
}

.ant-pagination-item-link svg {
  color: white;
  font-weight: 700;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-pagination
  .ant-pagination-item
  a {
  color: #b9b9c4;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-pagination
  .ant-pagination-item-active {
  background-color: #944f21;
  color: white;
  @apply rounded-full border-none;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-pagination
  .ant-pagination-item-active
  a:hover,
:where(.css-dev-only-do-not-override-gzal6t).ant-pagination
  .ant-pagination-item-active
  a {
  color: white;
}
.ant-pagination-item-ellipsis {
  color: white !important;
}
/* date picker  */
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-panel-container {
  background-color: #3e3e5b;
}
.ant-picker-footer {
  @apply hidden;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-cell {
  color: #65657d;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-cell-in-view {
  color: white;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner {
  background: #2b2b3f;
  @apply flex h-[36px] items-center justify-center rounded-full border-[1px] border-solid border-[#727288];
}

:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-content
  td {
  @apply h-[40px] rounded-full;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-content
  td:hover {
  @apply text-primary;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-content
  th,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-content
  td {
  width: 40px;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-decade-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-year-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-quarter-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-month-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-week-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-date-panel,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-time-panel {
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-date-panel
  .ant-picker-body {
}

:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-header-view
  button,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-date-panel
  .ant-picker-content
  th {
  color: white;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-header
  > button,
:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-header
  > button:hover {
  @apply text-primary;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-picker-dropdown
  .ant-picker-header {
  border: none;
}

/*  drawer */
:where(.css-dev-only-do-not-override-gzal6t).ant-drawer-left
  > .ant-drawer-content-wrapper,
:where(.css-dev-only-do-not-override-gzal6t).ant-drawer .ant-drawer-content {
  background-color: transparent;
  box-shadow: none;
}

/* radio */
.ant-radio-wrapper.css-dev-only-do-not-override-gzal6t span {
  color: white;
  font-size: 16px;
}
.ant-radio.ant-wave-target {
  margin-right: 4px;
}
.ant-radio-inner {
  background-color: transparent !important;
  width: 24px !important;
  height: 24px !important;
}

input::placeholder {
  color: #65657a !important;
}

textarea:where(.css-dev-only-do-not-override-gzal6t).ant-input {
  min-height: 100px;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  @apply border-[#67677d] bg-input text-white;
}

.custom-autocomplete-dropdown {
  @apply bg-menu text-white;
}
.custom-autocomplete-dropdown .ant-select-item-option-content {
  @apply text-white;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-checkbox .ant-checkbox-inner {
  background: transparent;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-modal-root
  .ant-modal-centered
  .ant-modal {
  width: unset !important;
}
